<div class="service_post">
  <div id="service_title">
    <h1><%= @service.name %></h1>
  </div>
  <div id="service_desc">
    <h1><%= @service.description %></h1>
    <h1><%= @service.price %></h1>
    <h1><%= @service.available_from %></h1>
    <h1><%= @service.available_to %></h1>
  </div>
</div>
